***Prepared By: Snehal Sathwara***

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [ ]:
#import pandas as pd
#import matplotlib.pyplot as plt
df=pd.read_csv('district wise rainfall normal-2.csv')
print(df)

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/DataVisualization/district.csv")
df = pd.DataFrame(df)
df.head()

In [ ]:
df = df.rename(columns = {'STATE_UT_NAME':'state', 'JAN': 'jan', 'FEB': 'feb', 'MAR': 'mar', 
                       'APR': 'apr' , 'MAY': 'may', 'JUN': 'jun', 'JUL': 'jul', 'AUG': 'aug', 'SEP': 'sep', 'OCT': 'oct'
                      , 'NOV': 'nov', 'DEC': 'dec', 'ANNUAL': 'annual', 'DISTRICT': 'district'})
df.head()
#df.tail()

In [ ]:
df.state.unique()

In [ ]:
df.district.unique()

In [ ]:
df_guj = df[df.state=='GUJARAT']
df_ker = df[df.state=='KERALA']
#df_guj.head()
#df_guj.tail()
#df_ker.head()
#df_ker.tail()

In [ ]:
plt.figure(figsize = (20,5))
sns.barplot(x='district', y= 'annual', data = df_guj)
plt.xticks(rotation = 90)
plt.title('GUJARAT DISTRICT WISE ANNUAL RAINFALL')
plt.show()

In [ ]:
plt.figure(figsize = (20,5))
sns.barplot(x='district', y= 'annual', data = df_ker)
plt.xticks(rotation = 90)
plt.title('KERALA DISTRICT WISE ANNUAL RAINFALL')
plt.show()

In [ ]:
plt.figure(figsize=(25,15))
sns.lineplot(x = 'annual', y= 'jan', hue = 'state', data = df)

In [ ]:
plt.figure(figsize=(25,15))
sns.lineplot(x = 'annual', y= 'jan', hue = 'state', data = df_guj)

In [ ]:
plt.figure(figsize=(25,15))
sns.lineplot(x = 'annual', y= 'jan', hue = 'district', data = df_guj)

In [ ]:
plt.figure(figsize=(25,15))
sns.lineplot(x = 'annual', y= 'jan', hue = 'state', data = df_ker)

In [ ]:
plt.figure(figsize=(25,15))
sns.lineplot(x = 'annual', y= 'jan', hue = 'district', data = df_ker)

In [ ]:
df_guj.groupby(['annual'])['Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec'].sum().plot.line(figsize=(15,5))
plt.title('GUJARAT')
df_ker.groupby(['annual'])['Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec'].sum().plot.line(figsize=(15,5))
plt.title('KERALA')
plt.show()

In [ ]:
df_guj.groupby(['district'])['Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec'].sum().plot.line(figsize=(15,5))
plt.title('GUJARAT')
df_ker.groupby(['district'])['Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec'].sum().plot.line(figsize=(15,5))
plt.title('KERALA')
plt.show()

In [ ]:
plt.figure(figsize=(15,5))
df.groupby(['state','district'])['annual'].sum().sort_values(ascending=False).plot()
plt.xticks(rotation=90)

In [ ]:
plt.figure(figsize=(15,5))
df_guj.groupby(['state','district'])['annual'].sum().sort_values(ascending=False).plot()
plt.xticks(rotation=90)

In [ ]:
plt.figure(figsize=(15,5))
df_ker.groupby(['state','district'])['annual'].sum().sort_values(ascending=False).plot()
plt.xticks(rotation=90)

In [ ]:
df.groupby(['state','district'])['annual'].sum().sort_values(ascending=False)

In [ ]:
df_guj.groupby(['state','district'])['annual'].sum().sort_values(ascending=False)

In [ ]:
df_ker.groupby(['state','district'])['annual'].sum().sort_values(ascending=False)

In [ ]:
plt.figure(figsize=(15,5))
df_guj.groupby(['district'])['annual'].sum().sort_values(ascending=False).head(12).plot(kind='bar', color = 'b')
plt.ylabel('Yearly Rainfall')
plt.title('Yearly Rainfall Data')

In [ ]:
plt.figure(figsize=(15,5))
df_guj.groupby(['district'])['annual'].sum().sort_values(ascending=True).tail(12).plot(kind='bar', color = 'c')
plt.ylabel('Yearly Rainfall')
plt.title('Yearly Rainfall Data')

In [ ]:
plt.figure(figsize=(15,5))
df_guj.groupby(['district'])['annual'].sum().sort_values(ascending=False).head(26).plot(kind='bar', color = 'g')
plt.ylabel('Total Rainfall')
plt.title('Total Rainfall Data')

In [ ]:
plt.figure(figsize=(15,5))
df_guj.groupby(['district'])['annual'].sum().sort_values(ascending=False).head(26).plot(kind='bar', color = 'g')
plt.ylabel('Total Rainfall')
plt.title('Total Rainfall Data')

In [ ]:
plt.figure(figsize=(15,5))
df_guj.groupby(['district'])['annual'].sum().sort_values(ascending=True).tail(26).plot(kind='bar', color = 'b')

plt.ylabel('Total Rainfall')
plt.title('Total Rainfall Data')

In [ ]:
plt.figure(figsize=(10,5))
df[['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug',
       'sep', 'oct', 'nov', 'dec']].mean().plot(kind= 'bar')
plt.xlabel('Months')
plt.ylabel('Avg. Rainfall')
plt.title('Avg. Monthly Rainfall Data')
plt.show()

In [ ]:
plt.figure(figsize=(10,5))
df_guj[['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug',
       'sep', 'oct', 'nov', 'dec']].mean().plot(kind= 'bar')
plt.xlabel('Months')
plt.ylabel('Avg. Rainfall')
plt.title('Avg. Monthly Rainfall Data')
plt.show()

In [ ]:
plt.figure(figsize=(10,5))
df_ker[['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug',
       'sep', 'oct', 'nov', 'dec']].mean().plot(kind= 'bar')
plt.xlabel('Months')
plt.ylabel('Avg. Rainfall')
plt.title('Avg. Monthly Rainfall Data')
plt.show()