In [41]:
import pandas as pd
import seaborn as sns
import  matplotlib.pyplot as plt
import statistics

In [2]:
st = pd.read_csv('StudentsPerformance.csv')

In [3]:
st.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
st.gender.unique()

array(['female', 'male'], dtype=object)

In [5]:
st['race/ethnicity'].unique()

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

In [6]:
st['parental level of education'].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

In [7]:
st.lunch.unique()

array(['standard', 'free/reduced'], dtype=object)

In [8]:
st['test preparation course'].unique()

array(['none', 'completed'], dtype=object)

In [14]:
x= st[['math score','reading score','writing score']].max()
print(x)

math score       100
reading score    100
writing score    100
dtype: int64

In [15]:
x  = st[['math score','reading score','writing score']].min()
print(x)

math score        0
reading score    17
writing score    10
dtype: int64

In [43]:
min = st.groupby('gender')[['math score' , 'reading score' , 'writing score']].min()
max = st.groupby('gender')[['math score' , 'reading score' , 'writing score']].max()
avg = st.groupby('gender')[['math score' , 'reading score' , 'writing score']].mean()

print(min)
print(max)
print(avg)

        math score  reading score  writing score
gender
female           0             17             10
male            27             23             15
        math score  reading score  writing score
gender
female         100            100            100
male           100            100            100
        math score  reading score  writing score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

In [68]:
m_df = st.groupby('gender').get_group('male')
f_df = st.groupby('gender').get_group('female')
st.notnull().sum()
st.isnull().sum()
st.rename(columns = {'test preparation course' : "preparation"} , inplace = True)
st.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'preparation ', 'math score', 'reading score', 'writing score'],
      dtype='object')