In [1]:
import pandas as pd
import datetime as dtm

In [9]:
data = pd.read_csv('Orders.csv')

In [10]:
data.head()

  Order ID  Order Date CustomerName           State     City
0  B-26055  10-03-2018    Harivansh   Uttar Pradesh  Mathura
1  B-25993  03-02-2018       Madhav           Delhi    Delhi
2  B-25973  24-01-2018  Madan Mohan   Uttar Pradesh  Mathura
3  B-25923  27-12-2018        Gopal     Maharashtra   Mumbai
4  B-25757  21-08-2018     Vishakha  Madhya Pradesh   Indore

In [12]:
data['Order Date'] = pd.to_datetime(data['Order Date'])
data['Order Date']
data.to_csv("Orders_date.csv",index =False)