In [2]:
a = 12-4 *(16//2 ** 4)+ 32
#a = (16//2**4)
a
#import numpy as np
#c = np.arange(1,20,3)

40

In [2]:
a = 5%2
print(type(a))
a

<class 'int'>

1

In [3]:
a = 5//2
print(type(a))
a

<class 'int'>

2

In [4]:
a = 5**2
print(a)

25

In [5]:
a = 5 / 3
print(type(a))
a

<class 'float'>

1.6666666666666667

In [6]:
a  = 1/1
print(type(a))
a

<class 'float'>

1.0

In [7]:
import numpy as np

a = np.zeros((5,5) , dtype=int)
a[0::4] = 1
a[::, 0::4] = 1

print(a)

print(np.inf > np.nan)
print(np.nan == np.nan)
print(np.nan > np.nan)
print(np.inf)
print(np.nan == None)
print(np.nan - np.nan)

[[1 1 1 1 1]
 [1 0 0 0 1]
 [1 0 0 0 1]
 [1 0 0 0 1]
 [1 1 1 1 1]]
False
False
False
inf
False
nan

In [8]:
a = 'gOOd moRning'
print(a.title())
print(a.upper())
print(a.lower())

Good Morning
GOOD MORNING
good morning

In [9]:
Product = ['Pencil', 'Pen', 'Eraser', 'Pencil Box', 'Scale']
Price= [5, 10, 2, 20, 12]  
Brand = ['Camlin', 'Rotomac', 'Nataraj', 'Camel', 'Apsara']
Stationery = [Product, Price, Brand]

Stationery[0].insert(0,'Notebook')
Stationery

[['Notebook', 'Pencil', 'Pen', 'Eraser', 'Pencil Box', 'Scale'],
 [5, 10, 2, 20, 12],
 ['Camlin', 'Rotomac', 'Nataraj', 'Camel', 'Apsara']]

In [10]:
s = {1,2,3}
s.clear()
s

set()

In [11]:
a = ['a','a','b','b','b','c','c','d','e']
a.index('d')

7

In [12]:
import pandas as pd
import numpy as np
data = pd.read_csv("C:\\Users\\abc\\Desktop\\DATA SCIENCE\\DATA\\gb_wrm.csv")
data.head()

data.at[5,'Country Name']
data.iat[5, 6]
data.loc[1: , 'Country Name']
data.columns
data.size
data.shape
15*19
data.memory_usage()
data.ndim
#data.describe()
#data.info()
#data.get_dtype_counts()
data.select_dtypes( exclude=[object])
#data.select_dtypes(include=[object])
#data.select_dtypes(include= [float])
#print(len(np.unique(data['2000'])))

FileNotFoundError: ignored

In [ ]:
#sample = data.copy(deep=False) # just referance it
#new_copied = data.copy(deep=True) # create actual copy


#numerical 

# catagorical1
'''
fix length in character 
'''

# object 
'''
string not fixed
'''

# data.discribe()

In [ ]:
# data = pd.read_csv("csv.csv" , index_col = 0 , na_values = [ 'special sysmbol'])
data['2001'] = data['2001'].astype('float64') 
# data['2001'].replace('four' , 4 , inplace=place)
data.isnull().sum()

In [ ]:
len(data.columns)
#data.insert(19 , "hellow" , " ") 
data.loc[:, ['2001']]
b = [True , 2 , 3.0 , np.nan , "False"]
[type(i) for i in b]
#type(np.nan) == float

In [16]:
data2 = pd.read_csv("/content/sample_data/hotel_bookings.csv")

In [ ]:
data2.shape

In [17]:
data2[data2.reservation_status == 'No-Show']
data2.loc[data2.reservation_status == 'No-Show']
data2.loc[data2.reservation_status.isin(['No-Show'])]
# data2.reservation_status.loc[data2.isin(['No-Show'])]
data2.head(10)

,hotel,is_canceled,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,country,market_segment,is_repeated_guest,reserved_room_type,assigned_room_type,deposit_type,agent,company,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,2015,July,1,0,0,2,0,PRT,Direct,0,C,C,No Deposit,NaN,NaN,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,2015,July,1,0,0,2,0,PRT,Direct,0,C,C,No Deposit,NaN,NaN,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,2015,July,1,0,1,1,0,GBR,Direct,0,A,C,No Deposit,NaN,NaN,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,2015,July,1,0,1,1,0,GBR,Corporate,0,A,A,No Deposit,304.0,NaN,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,2015,July,1,0,2,2,0,GBR,Online TA,0,A,A,No Deposit,240.0,NaN,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,2015,July,1,0,2,2,0,GBR,Online TA,0,A,A,No Deposit,240.0,NaN,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,2015,July,1,0,2,2,0,PRT,Direct,0,C,C,No Deposit,NaN,NaN,Transient,Check-Out,2015-07-03
7,Resort Hotel,0,2015,July,1,0,2,2,0,PRT,Direct,0,C,C,No Deposit,303.0,NaN,Transient,Check-Out,2015-07-03
8,Resort Hotel,1,2015,July,1,0,3,2,0,PRT,Online TA,0,A,A,No Deposit,240.0,NaN,Transient,Canceled,2015-05-06
9,Resort Hotel,1,2015,July,1,0,3,2,0,PRT,Offline TA/TO,0,D,D,No Deposit,15.0,NaN,Transient,Canceled,2015-04-22

In [18]:
data2[data2['is_canceled'] == 0 ]
data2[data2['arrival_date_year'] == 2017]
D_17 = data2.loc[(data2['is_canceled'] == 0) &(data2['arrival_date_year'] == 2017) ]

In [23]:
D_17.groupby("arrival_date_month")["is_repeated_guest"].count().sum()

9064

In [20]:
data2.head()
data2.columns
import matplotlib.pyplot as plt
year= data2['arrival_date_year']
guest= data2['is_repeated_guest']
guest.head(5)

#plt.plot(guest, year)
#plt.show()

0    0
1    0
2    0
3    0
4    0
Name: is_repeated_guest, dtype: int64

In [22]:
same_allot = data2.loc[(data2['reserved_room_type'] != data2['assigned_room_type']) & (data2['is_canceled'] == 1) ]

#grp_room_type = data2.loc[(data2[''])]

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
df = pd.read_csv("C:\\Users\\abc\\Desktop\\DATA SCIENCE\\DATA\\churn.csv")
df['TotalCharges'].isnull().sum()

df = pd.read_csv("C:\\Users\\abc\\Desktop\\DATA SCIENCE\\DATA\\diamond.csv")

In [ ]:
mtcars = pd.read_csv("C:\\Users\\abc\\Desktop\\DATA SCIENCE\\DATA\\mtcars.csv")

In [ ]:
mtcars.columns
sns.regplot(x = "mpg",
            y = "wt",
            data = mtcars)
 
plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Load example data set
#diamonds = sns.load_dataset("diamonds")

# Create a box plot of diamond prices
sns.boxplot(x="price"  , y = 'cut' , data=df)

# Add title and labels
plt.title("Box Plot of Diamond Prices")
plt.xlabel("Price")

# Show the plot
plt.show()

In [26]:
data2.columns
year= data2['arrival_date_year']
guest= data2['is_repeated_guest']
D_17 = data2.loc[(data2['is_repeated_guest'] > 0) &(data2['arrival_date_year'] == 2017) ]
D_17.groupby("arrival_date_month")["is_repeated_guest"].count()

arrival_date_month
April        82
August       55
February    132
January     148
July         50
June         74
March       143
May          97
Name: is_repeated_guest, dtype: int64

TabError: inconsistent use of tabs and spaces in indentation (2003697212.py, line 8)