# **Unit-2 Database Integration Instructor's Guide**
By: Prof.Snehal Sathwara

Class: 4CE/IT

In [ ]:
pip install mysql-connector
#pip3 install mysql-connector

In [ ]:
import mysql.connector
mydb =mysql.connector.connect(host='localhost',user='root',passwd='abcd')
print(mydb)

if(mydb):
    print('Connection Successful')

else:
    print('Connection not successful')

In [ ]:
# Lets create the Database

import mysql.connector
mydb =mysql.connector.connect(host='localhost',user='root',passwd='abcd')

mycursor=mydb.cursor()
mycursor.execute('Create database mytestdb')

In [ ]:
# Show the existing databases

import mysql.connector
mydb =mysql.connector.connect(host='localhost',user='root',passwd='abcd')

mycursor=mydb.cursor()
mycursor.execute('show databases')

for db in mycursor:
    print(db)

In [ ]:
# Create a table in mytestdb

import mysql.connector
mydb =mysql.connector.connect(host='localhost',user='root',passwd='abcd',database='mytestdb')

mycursor=mydb.cursor()
mycursor.execute('Create table studentlist(name varchar(200),enrollment int(20))')

In [ ]:
# show the created tables in mytestdb

import mysql.connector
mydb =mysql.connector.connect(host='localhost',user='root',passwd='abcd',database='mytestdb')

mycursor=mydb.cursor()
mycursor.execute('Show tables')

for tb in mycursor:
    print(tb)

In [ ]:
# Insert the Data

import mysql.connector
mydb =mysql.connector.connect(host='localhost',user='root',passwd='abcd',database='mytestdb')
mycursor=mydb.cursor()

sqlfo rm = "Insert into studentlist(name,enrollment) values(%s,%s)"

studentlist = [('Mahesh',111),('Ram',112),('Shyam',113),]

mycursor.executemany(sqlform,studentlist)

mydb.commit()

In [ ]:
# Read the Data by fetchall

import mysql.connector
mydb =mysql.connector.connect(host='localhost',user='root',passwd='abcd',database='mytestdb')
mycursor=mydb.cursor()

mycursor.execute('Select * from studentlist')

myresult = mycursor.fetchall()

for row in myresult:
    print(row)

In [ ]:
# Read the Data by fetchone

import mysql.connector
mydb =mysql.connector.connect(host='localhost',user='root',passwd='abcd',database='mytestdb')
mycursor=mydb.cursor()

mycursor.execute('Select name from studentlist')

myresult = mycursor.fetchone()

for row in myresult:
    print(row)

In [ ]:
# Update Operation

import mysql.connector
mydb =mysql.connector.connect(host='localhost',user='root',passwd='abcd',database='mytestdb')
mycursor=mydb.cursor()

sql="UPDATE studentlist SET enrollment=120 WHERE name='ram'"

mycursor.execute(sql)

mydb.commit()

In [ ]:
# Read the Updated Data by fetchall

import mysql.connector
mydb =mysql.connector.connect(host='localhost',user='root',passwd='abcd',database='mytestdb')
mycursor=mydb.cursor()

mycursor.execute('Select * from studentlist')

myresult = mycursor.fetchall()

for row in myresult:
    print(row)

In [ ]:
# Delete the database

import mysql.connector
mydb =mysql.connector.connect(host='localhost',user='root',passwd='abcd',database='mytestdb')
mycursor=mydb.cursor()

sql="DELETE FROM studentlist WHERE name='ram'"

mycursor.execute(sql)

mydb.commit()

In [ ]:
# Read the Deleted and Updated Data by fetchall

import mysql.connector
mydb =mysql.connector.connect(host='localhost',user='root',passwd='abcd',database='mytestdb')
mycursor=mydb.cursor()

mycursor.execute('Select * from studentlist')

myresult = mycursor.fetchall()

for row in myresult:
    print(row)