In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('weather_data.csv')

In [3]:
df.shape # row and columns

(6, 4)

In [4]:
rows , columns = df.shape
rows
columns

4

In [5]:
df.head(3)
df.tail(2)

        day  temperature  windspeed  event
4  01-05-17           32          4   Rain
5  01-06-17           32          2  Sunny

In [6]:
df[2:5] # row 2 to 5-1

        day  temperature  windspeed event
2  01-03-17           28          2  Snow
3  01-04-17           24          7  Snow
4  01-05-17           32          4  Rain

In [7]:
df[:]

        day  temperature  windspeed  event
0  01-01-17           32          6   Rain
1  01-02-17           35          7  Sunny
2  01-03-17           28          2   Snow
3  01-04-17           24          7   Snow
4  01-05-17           32          4   Rain
5  01-06-17           32          2  Sunny

In [8]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [9]:
df.day
# df['day']
df.temperature
# df['temperature']
df.windspeed
# df['windspeed']
df.event
# df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [10]:
type(df['event']) # series
type(df) # data frame

pandas.core.frame.DataFrame

In [11]:
df[['event','temperature', 'windspeed']]

   event  temperature  windspeed
0   Rain           32          6
1  Sunny           35          7
2   Snow           28          2
3   Snow           24          7
4   Rain           32          4
5  Sunny           32          2

In [12]:
# true false
df['temperature'].max() #  give maximum in temperature column
df['temperature'].min() 
df['temperature'].mean()
df['temperature'].std()
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [105]:
# conditionaly select data 
df[df.temperature >= 30]
df[df.temperature == df.temperature.max()]
df[df['temperature'] == df.temperature.max()]
df[['day','temperature']][df.temperature == df.temperature.max()]

df.event == 'Rain'
df.temperature <= 30
df.event == 'Sunny'
df.day == '01-02-17'
df[df.event == 'Rain']
df[df.temperature <= 30]
df[df.event == 'Sunny']
df[df.event == 'Snow']

        day  temperature  windspeed event
2  01-03-17           28          2  Snow
3  01-04-17           24          7  Snow

In [94]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [108]:
# df.set_index('day')
# df.set_index('day', inplace = True)
# df.loc['01-03-17'] 
# df.reset_index(inplace=True) # reset indexing 
df

        day  temperature  windspeed  event
0  01-01-17           32          6   Rain
1  01-02-17           35          7  Sunny
2  01-03-17           28          2   Snow
3  01-04-17           24          7   Snow
4  01-05-17           32          4   Rain
5  01-06-17           32          2  Sunny

In [113]:
# df = pd.read_excel('filename_or_path.xlsx',"sheet_name")
weather_data = [
    (1,2,33),(1,2,33),(1,2,33),
]
data = pd.DataFrame(weather_data , columns=['num','num2','num3'])
data

   num  num2  num3
0    1     2    33
1    1     2    33
2    1     2    33

In [115]:
weather_data = [{'num' : 1 , 'num2' : 2 , 'num3' : 3},
                {'num' : 1 , 'num2' : 2 , 'num3' : 3},
                {'num' : 1 , 'num2' : 2 , 'num3' : 3}]
data = pd.DataFrame(weather_data)
data

   num  num2  num3
0    1     2     3
1    1     2     3
2    1     2     3