In [3]:
import pandas as pd
# df = pd.read_csv('stock_data.csv')

# df = pd.read_csv('stock_data.csv', skiprows=1)
df = pd.read_csv('stock_data.csv',header=1) # same output as above

# df = pd.read_csv('stock_data.csv',header = None)
# df = pd.read_csv('stock_data.csv',header = None , names=['ticker','eps','revenue','price','people'])

# df = pd.read_csv('stock_data.csv', skiprows=1 , nrows=4)

# df = pd.read_csv('stock_data.csv', skiprows=1 , na_values= ['not available','n.a.'])
df = pd.read_csv('stock_data.csv', skiprows=1 , na_values= {
    'eps' : ["not available","n.a."],
    'revenue' : ['not available', 'n.a.' , -1],
    'people' : ['not available' , 'n.a.' ],
    'price' : ['n.a.', 'not available']
})
df

  tickers    eps  revenue   price         people
0  Google  27.82     87.0   845.0     larry page
1     wmt   4.61    484.0    65.0            NaN
2    msft  -1.00     85.0    64.0     bill gates
3     ril    NaN     50.0  1023.0  mukesh ambani
4    tata   5.60      NaN     NaN     ratan tata

In [21]:
# excel working
# df.to_csv('new.csv',index=False)

In [23]:
df.columns

Index(['tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')

In [29]:
df.to_csv('new.csv',columns=['tickers','eps'] , index=False)
# df.to_csv('new.csv',columns=['tickers','eps'] , header=False)

In [42]:
def space_converter(cell):
    if cell == 'n.a.':
        return 'not avalilable'
    else :
        return cell
pd.read_csv('new.csv' ,converters = {
    'tickers' : space_converter,
    'eps' : space_converter
})

  tickers             eps
0  Google           27.82
1     wmt            4.61
2    msft              -1
3     ril  not avalilable
4    tata             5.6

In [ ]:
# df.to_excel('file.xlsx', startrow = number , startcol = number , index = False , sheet_name = 'sheet_name')

In [6]:
print('21SOEIT11042')
f_space = 4
for i in range(1,6):
    print(' '*f_space , end='')
    f_space -= 1
    print('*'*i)

21SOEIT11042
    *
   **
  ***
 ****
*****

In [8]:
j = 1 
f_space = 4 
for i in range(65 , 70):
    print(' '*f_space,end='')
    f_space -= 1
    print((chr(i)+' ')*j)
    j+= 1

    A
   B B
  C C C
 D D D D
E E E E E